@import url('https://fonts.googleapis.com/css?family=Cantarell');

* {
  font-family: 'Cantarell', sans-serif;
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  text-align: center;
}

#lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: auto 1fr;
}

ul {
  padding: 0;
  margin-top: 0;
}

#todoList,
#doneList {
  /* border: 1px solid #333; */
}

#todoList {
  /* background: yellow; */
}

#addTodoForm {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1rem;
}

input[name=newTodo] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 0 0.5rem;
}

#addTodoForm input[type=submit] {
  border: 1px solid #000;
  border-radius: 3px;
  background: green;
  color: white;
  padding: 0 0.5rem;
}


#todoList li,
#doneList li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  background: #eee;

  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#todoList li:first-child,
#doneList li:first-child {
  border-top: 1px solid #333;
}

#todoList li:last-child,
#doneList li:last-child {
  border-bottom: 1px solid #333;
}

#todoList li:nth-child(even),
#doneList li:nth-child(even) {
  background: #ddd;
}


button {
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  cursor: pointer;
}

button:hover {
  background: red;
  color: white;
}

#clock {
  position: fixed;
  top: 1rem;
  right: 1rem;
}