@import url('https://fonts.googleapis.com/css?family=Cantarell');

* {
  font-family: 'Cantarell', sans-serif;
}

body {
  background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
}

h1 {
  text-align: center;
}

#lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

ul {
  padding: 0;
}

#todoList,
#doneList {
  /* border: 1px solid #333; */
}

#todoList {
  /* background: yellow; */
}

input[name=newTodo] {
  /* border: 1px solid red; */
}

#addTodoForm input[type=submit] {
  /* color: purple; */
}

#todoList li,
#doneList li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  background: #eee;

  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#todoList li:first-child,
#doneList li:first-child {
  border-top: 1px solid #333;
}

#todoList li:last-child,
#doneList li:last-child {
  border-bottom: 1px solid #333;
}

#todoList li:nth-child(even),
#doneList li:nth-child(even) {
  background: #ddd;
}


button {
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  cursor: pointer;
}

button:hover {
  background: red;
  color: white;
}

#clock {
  position: fixed;
  top: 1rem;
  right: 1rem;
}